/* analisis.component.css */

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.table-box {
  width: 100%; /* Ocupa todo el ancho disponible */
  border: 1px solid #162fbd;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilos comunes para títulos y celdas de tabla */
h2, th, td {
  padding: 10px;
  text-align: center;
}

/* Estilos específicos para títulos de tabla */
h2 {
  background-color: #f2f2f2;
  border-bottom: 1px solid #162fbd;
  border-radius: 8px 8px 0 0;
}

/* Estilos para todas las tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0; /* Elimina el margen predeterminado de la tabla */
}

th, td {
  border: 1px solid #162fbd;
}

th {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}
/* Estilos para los contenedores de gráficos y tablas */
.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.chart-box, .table-box {
  width: 45%; /* Ajusta el ancho según sea necesario */
  margin-bottom: 20px;
}

/* Estilos para las tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Estilos adicionales según sea necesario */
.ingresos-table, .gastos-table {
  /* ... */
}

/* Estilos para los gráficos */
canvas {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}
