.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}
.caja-container {
  width: 50%; /* Cada caja ocupa el 50% del ancho disponible */
  box-sizing: border-box; /* Incluye el ancho del borde y el margen en el 50% */
  padding: 10px; /* Añade un espaciado interno si es necesario */
}
