<app-barra-inferior-nav></app-barra-inferior-nav>
<div class="container">
  <app-titulo-general [titulo]="'Calendario'"></app-titulo-general>
  <div class="row">
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="selectYear">Año:</label>
        <select id="selectYear" class="form-control" [(ngModel)]="selectedYear">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="selectMonth">Mes:</label>
        <select id="selectMonth" class="form-control" [(ngModel)]="selectedMonth">
          <option *ngFor="let month of months; let i = index" [value]="i+1">{{ month }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-8">
      <div class="month-container">
        <div class="month">{{ months[selectedMonth - 1] }} {{ selectedYear }}</div>
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let dayLabel of ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb']">{{ dayLabel }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of getWeeksInMonth(selectedMonth, selectedYear)">
              <td *ngFor="let day of getDaysInMonth(selectedMonth, selectedYear, week)" (click)="onDayClick(day)">
                {{ day.date.getDate() }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Nueva sección para mostrar detalles -->
      <div *ngIf="isDetailsVisible">
        <h2>Detalles del día</h2>
        <ul>
          <li *ngFor="let event of selectedDayEvents">
            {{ event.type === 'income' ? 'Ingreso' : 'Gasto' }}: {{ event.amount | currency }} - {{ event.description }}
          </li>
        </ul>
        <button id = "cerrar" (click)="closeDetails()">Cerrar</button>
      </div>
    </div>
  </div>
</div>