<div class="disponible-para-gastar">
  <h3>Disponible para Gastar</h3>
  <div class="account-selector">
    <select [(ngModel)]="selectedAccount" (change)="onAccountChange()">
      <option value="" disabled selected>Selecciona una cuenta</option>
      <option *ngFor="let account of accounts" [value]="account.name">{{ account.name }}</option>
    </select>
    <button (click)="toggleAccount()" [ngClass]="{'active': isAccountActive(selectedAccount)}" class="toggle-button">
      {{ isAccountActive(selectedAccount) ? '✔' : '✘' }}
    </button>
    <button (click)="eliminarCuenta()" >Eliminar Cuenta</button>
    <button (click)="navigateToNewAccountForm()">Crear Nueva Cuenta</button>

  </div>

  <!-- Agregar una sección para mostrar la información detallada de la cuenta seleccionada -->
  <div *ngIf="selectedAccount">
    <h4>Detalles de la cuenta {{ selectedAccount }}</h4>
    <p>Nombre: {{ getSelectedAccount()?.name }}</p>
    <p>Balance: {{ getSelectedAccount()?.balance | currency }}</p>
    <!-- Agregar cualquier otra información que desees mostrar -->
  </div>
</div>

<div *ngIf="selectedAccount">
  <h4>Detalles de la cuenta {{ selectedAccount }}</h4>
  <p>Nombre: {{ getSelectedAccount()?.name }}</p>
  <p>Balance: {{ getSelectedAccount()?.balance | currency }}</p>
</div>